@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>+91-989-030-5045</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Me</h3>
    </header>
    <div style="width: 300px; height: 400px;"></div>
    <img src="/images/ZiaullahKhan.jpg" />
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Contact:</span>
        <span><a href="mailto:khan.ziaullah@gmail.com">Personal</a></span>
    </p>
    <p>
        <span class="label">Suggestion</span>
        <span><a href="mailto:khan.ziaullah@gmail.com">Suggestions</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        B-202, Sahil Sarvadaa,<br />
        Kondhwa, Pune - 411048,<br />
        MH India.
    </p>
</section>